@page "/register"
@inject HttpClient Http
@using Cab_Frontend.Models
@inject NavigationManager Nav


<h3>Register</h3>

<EditForm Model="@registerModel" OnValidSubmit="RegisterUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="registerModel.FirstName" placeholder="First name" class="form-control mb-2" />
    <InputText @bind-Value="registerModel.LastName" placeholder="Surname" class="form-control mb-2" />
    <InputText @bind-Value="registerModel.Email" placeholder="Email" class="form-control mb-2" />
    <InputText @bind-Value="registerModel.Password" placeholder="Password" type="password" class="form-control mb-2" />

    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>


<p>@result</p>

@code {
    RegisterRequest registerModel = new();
    string result;

    private async Task RegisterUser()
    {
        var res = await Http.PostAsJsonAsync("api/Gateway/customer/register", registerModel);
        if (res.IsSuccessStatusCode)
        {
            result = "Registration successful!";
            Nav.NavigateTo("/login");
        }
        else
        {
            result = "Registration failed.";
        }
    }


}
